.bookCard.mat-card {
  max-width: 18rem;
  padding-top: 0;
  padding-bottom: 0;
}

.titre {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.overflow-visible {
  white-space: initial;
}
