<div>
    <h1 class="display-4 text-center mb-lg-5">Bibliothèque de Gutenberg!</h1>

    <div class="text-center">
        <form #searchBooks="ngForm" (ngSubmit)="onSubmit(searchBooks)">
            <mat-form-field appearance="fill">
                <mat-label>Filtrer</mat-label>
                <mat-select ngModel name="filtre">
                    <mat-option value="default">default</mat-option>
                    <mat-option value="closness">closness</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Word to search</mat-label>
                <input ngModel name="word" matInput placeholder="Ex. Pizza">
            </mat-form-field>
            <button type="submit" class="btn btn-outline-secondary btn-lg mb-3">Search!</button>
        </form>
    </div>

    <div *ngIf="loading">
        <div class="loader pb-5">
            <div class="duo duo1">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
            <div class="duo duo2">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid m-3" *ngIf="!loading && filesName && filesName.length > 0">
        <div class="row justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <mat-paginator [length]="pageLength"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageOptions"
                               [pageIndex]="pageIndex"
                               [showFirstLastButtons]="true"
                               (page)="handlePage($event)">

                </mat-paginator>
                <div *ngFor="let p of pagesTab">
                    <button [id]="p" type="button" [ngClass]="{'btn-secondary':pageIndex === p, 'btn-outline-secondary':pageIndex != p}" class="btn " (click)="changePage(p)">{{p+1}}</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div *ngFor="let file of filesName">
                <div class="col mb-3">
                    <jhi-book [filename]="file"></jhi-book>
                </div>
            </div>
        </div>
    </div>
</div>
